body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium !important;
}

.parentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    text-align: center;
    border: grey solid 1px;
    padding: 10px;
    width: 15rem;
    height: 15rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 2px 2px #6f47ff;
    background-color: rgb(0, 58, 192);
    text-align: center;
    cursor: pointer;
}

.container:hover {
    transform: scale(1.05);
}

.gameTitle {
    background: #ffffff;
    opacity: 0.8;
    padding: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    max-width: 100%;
    max-height: 100%;
}