#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-list {
    padding: 25px;
    border: 2px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f4f7f9;
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.reviews {
    min-height: 400px;
    max-height: 60vh;
    max-width: 750px;
    min-width: 750px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    
}

.review-username {
    color: rgb(230, 0, 173);
    margin-right: 10px;
}

.review-container {
    display: flex;
    align-items: baseline;
}

h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    align-items: stretch;
}

.form button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.form button:hover:enabled {
    background-color: #2980b9;
}

.review-item {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.review-buttons {
    display: flex;
    align-items: stretch;
    margin-right: 10px;
    width: 60px;
}

.deleteBtn {
    font-weight: bolder;
    color: red;
    width: 30px;
    cursor: pointer;
    margin-left: 2.5px;
}

.editBtn {
    font-weight: bolder;
    color: blue;
    width: 30px;
    cursor: pointer;
    margin-right: 2.5px;
}

.confirmBtn {
    font-weight: bolder;
    color: Green;
    width: 30px;
    cursor: pointer;
}

.submitBtn {
    margin-top: 20px;
}

.backBtn {
    background-color: rgba(79, 209, 197, .64);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: 450;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.logoutBtn {
    background-color: rgba(79, 209, 197, .64);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-weight: 450;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.ql-container {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ql-editor {
    border-radius: 5px;
    padding: 10px;
}

.ql-toolbar {
    border-radius: 5px;
}

.input-container {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff69;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    background-color: #f0f4f8;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form input:focus {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(79, 209, 197, 0.5);
}

.form button {
    background-color: #4fd1c5;
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.form button:hover:enabled {
    background-color: #39b5a7;
}

.Title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4fd1c5;
}

.form label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #666;
}

.backBtn:hover,
.logoutBtn:hover {
    background-color: #39b5a7;
}